@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden; /* Prevent horizontal overflow */
  overflow-y: auto;   /* Allow vertical scrolling if needed */
  box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

main {
  display: grid;
  grid-template-columns: 1fr; /* Single column layout by default */
  grid-template-rows: auto; /* Space between grid items */
}

.title-Arial {
  /* Title arial */
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 110px;

}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 61.04px;
  line-height: 70px;

}

h2 {
  
  font-style: normal;
  font-weight: 400;
  line-height: 56px;

}

h3 {

  font-style: normal;
  font-weight: 400;
  font-size: 39.06px;
  line-height: 45px;

}

h4 {

font-style: normal;
font-weight: 400;
font-size: 31.25px;
line-height: 36px;


}

h5 {

  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;

}

h6 {

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

p {

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 18px;

color: #000000;


}


.Navbar {
  font-family: Arial;
  position: relative;
  width: 93.91%;
  height: 10.74%;
  margin-left: auto;
  top: 0;

  display: flex;
  
  /* img {
    height: 60px;
    width: 60px;
  } */
}

.Navlinks {
  position: relative;
  left: 5%;
  gap: 60px;
  bottom: 3px;
}

.Navlinks a {
  font-family: Arial;
  font-weight: bold;
}

.ButtonContainer {
  position: absolute;
  height: 46.10%;
  min-width: 23.85%;
  bottom: 29.5%;

  button {
    /* Recherche */
font-family: 'Arial';
font-style: normal;
line-height: 23px;
-webkit-appearance: button;
/* identical to box height */

color: #FFFFFF;


  }
}

.bg-main-blue {
  background-color:#1D428A ;
}


.main-blue {
  color: #1D428A;
}

.hero-image-shadow {
  box-shadow: 70px 55px 5px rgba(37, 67, 133, 0.25);
}

@media (max-width:1026px) {
  .hero-image-shadow {
    box-shadow: 0px 0px 0px rgba(37, 67, 133, 0.25);;
  }
}

.rendezvous-button-shadow {

box-shadow: 5px 20px 40px rgba(0, 0, 0, 0.35);


}

.hero-text-container {
  z-index: 5;
}

.hero-image-container{
  z-index: 2;
}

.macbook {
  z-index: 10;
}

#half-blue-circle {
  z-index: 1;
}

#above {
  z-index: 10;
}

.parent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 2 / 2 / 7 / 4; }
  .div2 { grid-area: 4 / 5 / 6 / 8; }
  .div3 { grid-area: 1 / 1 / 3 / 8; }

  .box-service-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
     0px 4px 4px rgba(0, 0, 0, 0.25), 
     4px 0px 4px rgba(0, 0, 0, 0.25),
     0px -2px 5px 1px rgba(0, 0, 0, 0.3), 
     0px 2px 5px -1px rgba(0, 0, 0, 0.3);
  }

  .button_partner {
box-shadow: 0px 20px 45px rgba(0, 0, 0, 0.35);

  }

  @keyframes slide {
    from {
      transform: translateX(0);
    } 
    to {
      transform: translateX(-100%);
    }
  }

  .logos {
    animation: 15s slide infinite linear;

  }

  .logos:hover {
    animation-play-state:paused;
  }

  .img-cont-logos {
    background-size: cover; /* Ensure the image covers the entire div */
  background-position: center; /* Center the image within the div */
  background-repeat: no-repeat; /* Prevent repeating the image */

  }